{{#each posts as |post| }}
<div class="row mb-4 posts">
  <div class="col-md-6">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by <b>{{post.user.username}}</b> | {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
    <hr class="hr" />
  </div>
</div>
{{/each}}
